* {
    --margin: 0;
    --padding: 0;
    --box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background:
        radial-gradient(circle at 50% 0%, rgba(106, 92, 255, 0.15), transparent 50%), #0b0f17;
    color: #ffffff;
}

.p {
    text-align: justify;
    text-justify: inter-word;
}

/* Layout */

.container {
    width: 100%;
    max-width: 1350px;
    margin: auto;
}

/* Header */

.header {
    position: fixed;
    padding: .09rem;
    width: 100%;
    top: 0;
    background: rgba(11, 15, 23, .6);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Orbitron', monospace;
    font-size: 22px;
    letter-spacing: 2px;
    margin-right: 30px;
}

.logo span {
    color: #2EE6F2;
}

.menu a {
    font-family: 'Orbitron', monospace;
    margin-left: 15px;
    text-decoration: none;
    color: #bfc8d6;

}

.menu a:hover {
    color: #2EE6F2;
}

/* Main */

.main {
    padding-top: 160px;
    min-height: 80vh;
}

.main h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 90px;
    font-weight: 700;

}

.social-icons {
    display: flex;
    gap: 20px;
    margin: 30px 0;
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(46, 230, 242, 0.1);
    border: 2px solid #552ef2;
    color: #382ef2;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background: #482ef2;
    color: #0b0f17;
    transform: translateY(-5px);
}

.main .light {
    color: #cbd5e1;
}

.tag {
    font-family: 'Orbitron', monospace;
    color: #2EE6F2;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.main h2 {
    margin-top: 20px;
    font-weight: 300;
    color: #bfc8d6;
}

/* About */

.about {
    padding: 120px 0;
}

.section-title {
    font-family: 'Space Grotesk';
    color: #9b5cff47;
    font-size: 36px;
    margin-bottom: 30px;
}

.about-text {
    font-size: 20px;
    color: #bfc8d6;
    margin-bottom: 40px;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.about-content .about-text {
    flex: 1 1 300px;
}

.photo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    border-radius: 14px;
}

.photo img {
    width: 290px;
    height: auto;
    border-radius: 14px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.photo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    border-radius: 14px;
}

.skills .card {
    background: #141220;
    border-radius: 14px;
    overflow: hidden;
}


.project {
    background: #141220;
    border-radius: 14px;
    overflow: hidden;
}

.project:hover img {
    transform: scale(1.08);
}

.card:hover {
    transform: translateY(-6px);
}

/* Projects */

.projects {
    padding: 100px 0;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.project {
    background: #141220;
    border-radius: 14px;
    overflow: hidden;
}

.project img {
    width: 100%;
    display: block;
    overflow: hidden;
}

.project:hover {
    transform: translateY(-10px);
}

.contact-form {
    max-width: 500px;
    align-items: left;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border: none;
    border-radius: 8px;
}

.contact-form button {
    padding: 12px;
    background: #2EE6F2;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}

/* Footer */

.footer {
    text-align: center;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, .05);
    color: #bfc8d6;
}